*
{
    padding: 0px;
    margin: 0px;
}

.header{
    background-color: skyblue;
    line-height: 70px;
    padding-left: 30px;
    
}

a{
    text-decoration: none;
}
.logout{
    float: right;
    padding-right: 30px;
}
ul{
    background-color: #424a5b;
    width: 16%;
    height: 100%;
    position: fixed;
    padding-top: 5%;
    text-align: center;
 
}
li{
    list-style: none;
    padding-bottom: 30px;
    font-size: 15px;
}
ul li a{
    color: white;
    font-weight: bold;
}
ul li a:hover{
    color: skyblue;
    
}
.content{
    margin-left: 20%;
    margin-top: 5%;
}
label{
    display: inline-block;
    text-align: right;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.div_deg{
    background-color: skyblue;
    width: 400px;
    padding-top: 70px;
    padding-bottom: 70px;
}